<h1>Listing Flights</h1>
 
<table id="flights_table">
  <thead>
    <tr>
      <th>Origin</th>
      <th>Destination</th>
      <th>Departure</th>
      <th>Return</th>
      <th>Price</th>
      <th>Outbound Duration</th>
      <th>Return Duration</th>
      <th>Outbound Legs</th>
      <th>Return Legs</th>
    </tr>
  </thead>
  <tbody>
  <% @flights.each do |journey| %>
    <tr>
      <td><%= journey.trip.origin %></td>
      <td><%= journey.trip.destination %></td>
      <td><%= journey.trip.departure_date %></td>
      <td><%= journey.trip.return_date %></td>
      <td><%= journey.price %></td>
    </tr>
  <% end %>
  </tbody>
</table>
 
<br>
